* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-color: violet;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: -25px;
}
ul li{
    display: inline-block;
    
}

ul li a{
    text-decoration: none;
    color: white ;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-weight: 900;
} 
ul li.active a{
    background-color:rgb(7, 81, 123);
    color: rgb(235, 231, 231);
    cursor: pointer;

}
.logo img{
    float: left;
    width: 60px;
    height:auto;
    margin-top: 25px;
}
.logo h1{
    color: white;
    font-size: 30px;
    font-family:Poppins;
    position: relative;
    padding-top: 50px;
    
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%,-30%);
}
.title h1{
    color: white;
    font-size: 40px;
}
.title h3{
    color: white;
    font-size: 20px;
}
.button{
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-30%,-30%);
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: rgb(9, 232, 232);
    text-decoration: noneS;
    transition: 0.6s ease;

}
.right {
    height: 57vh;
    width: 100vw;
    float: left;
    position: absolute;
    padding-left: 750px;
}
.right img{
    position: relative;
    animation-name: ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    top: 140px;
    animation-direction: alternate;
}
@keyframes ani{
    from{
        top: 100px;
    }
    to{
        top: 50px;
    }
}